
.notificationContener {
    position: fixed;
    top: 90px;
    display: flex;
    flex-direction: column;
    max-width: auto;
    z-index: 1000;
    pointer-events: none;
    left: 280px;
}

.notification {
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(100%);
    pointer-events: auto; 
}

.notification.show {
    transform: translateY(0); 
}

.notification.success {
    background-color: #28a745; 
}

.notification.warning {
    background-color: #ffc107; 
}

.notification.info {
    background-color: #17a2b8; 
}

.notification.error {
    background-color: #dc3545; 
}


.notification p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.notificationDate {
    font-size: 12px;
    color:  #000000; 
    margin-top: 5px;
}


.notification.hide {
    opacity: 0;
    transform: translateY(100%); 
}


.notification.success .notificationDate,
.notification.warning .notificationDate,
.notification.info .notificationDate,
.notification.error .notificationDate {
    font-size: 10px;
    color: #cfd8dc; 
}

.notificationList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    font-size: 14px;
    font-weight: 500;
}
