.patient-details-container {
    margin-left: 220px;
    margin-top: 0px;
    padding: 20px;
    background-color: #ecf1f3;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.details-btn {
    display: flex;
    justify-content: space-between;
}

.patient-info {
    padding: 15px;
    background-color: white;
    margin-top: 15px;

}

.name-info {
    padding: 8px;
    background-color: #ecf1f3;
    margin: 0px;
}

.back {
    cursor: pointer;
    position: relative;
    top: 1rem
}

.form-group4 {
    display: flex;
    max-width: 100%;
    width: 69%;
}

.type {
    width: 100%;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 8px;
}

.delete-btn:hover {
    background-color: #f44336;
    opacity: 0.8;
}